.menu ul{
  display: flex;
  gap: 30px;
  list-style: none;
  background-color: black;
  margin-bottom: 20px;
}

.menu li:hover{
  background-color: gray;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 20px;
}
